Import required libraries

In [19]:
import pandas as pd
import os
%matplotlib inline

In [6]:
DATA = 'data'

FILENAMES = [os.path.join(DATA, filename) for filename in os.listdir(DATA)]

In [7]:
FILENAMES

['data/enron_05_17_2015_with_labels_v2_100K_chunk_1_of_6.csv']

#### Import dataset

In [8]:
df = pd.read_csv(FILENAMES[0])

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.head()

,Unnamed: 0,Message-ID,Date,From,To,Subject,X-From,X-To,X-cc,X-bcc,...,Cat_10_level_1,Cat_10_level_2,Cat_10_weight,Cat_11_level_1,Cat_11_level_2,Cat_11_weight,Cat_12_level_1,Cat_12_level_2,Cat_12_weight,labeled
0,0,<18782981.1075855378110.JavaMail.evans@thyme>,2001-05-14 23:39:00,frozenset({'phillip.allen@enron.com'}),frozenset({'tim.belden@enron.com'}),NaN,Phillip K Allen,Tim Belden <Tim Belden/Enron@EnronXGate>,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,1,<15464986.1075855378456.JavaMail.evans@thyme>,2001-05-04 20:51:00,frozenset({'phillip.allen@enron.com'}),frozenset({'john.lavorato@enron.com'}),Re:,Phillip K Allen,John J Lavorato <John J Lavorato/ENRON@enronXg...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,2,<24216240.1075855687451.JavaMail.evans@thyme>,2000-10-18 10:00:00,frozenset({'phillip.allen@enron.com'}),frozenset({'leah.arsdall@enron.com'}),Re: test,Phillip K Allen,Leah Van Arsdall,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,3,<13505866.1075863688222.JavaMail.evans@thyme>,2000-10-23 13:13:00,frozenset({'phillip.allen@enron.com'}),frozenset({'randall.gay@enron.com'}),NaN,Phillip K Allen,Randall L Gay,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,4,<30922949.1075863688243.JavaMail.evans@thyme>,2000-08-31 12:07:00,frozenset({'phillip.allen@enron.com'}),frozenset({'greg.piper@enron.com'}),Re: Hello,Phillip K Allen,Greg Piper,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 52 columns):
Unnamed: 0        100000 non-null int64
Message-ID        100000 non-null object
Date              100000 non-null object
From              100000 non-null object
To                94999 non-null object
Subject           94636 non-null object
X-From            99994 non-null object
X-To              97400 non-null object
X-cc              21747 non-null object
X-bcc             34 non-null object
X-Folder          99994 non-null object
X-Origin          99994 non-null object
X-FileName        99271 non-null object
content           99598 non-null object
user              100000 non-null object
Cat_1_level_1     210 non-null float64
Cat_1_level_2     210 non-null float64
Cat_1_weight      210 non-null float64
Cat_2_level_1     200 non-null float64
Cat_2_level_2     200 non-null float64
Cat_2_weight      200 non-null float64
Cat_3_level_1     166 non-null float64
Cat_3_level_2     166 non-null float64
Cat_3_weight      166 non-null float64
Cat_4_level_1     104 non-null float64
Cat_4_level_2     104 non-null float64
Cat_4_weight      104 non-null float64
Cat_5_level_1     57 non-null float64
Cat_5_level_2     57 non-null float64
Cat_5_weight      57 non-null float64
Cat_6_level_1     21 non-null float64
Cat_6_level_2     21 non-null float64
Cat_6_weight      21 non-null float64
Cat_7_level_1     10 non-null float64
Cat_7_level_2     10 non-null float64
Cat_7_weight      10 non-null float64
Cat_8_level_1     2 non-null float64
Cat_8_level_2     2 non-null float64
Cat_8_weight      2 non-null float64
Cat_9_level_1     1 non-null float64
Cat_9_level_2     1 non-null float64
Cat_9_weight      1 non-null float64
Cat_10_level_1    1 non-null float64
Cat_10_level_2    1 non-null float64
Cat_10_weight     1 non-null float64
Cat_11_level_1    0 non-null float64
Cat_11_level_2    0 non-null float64
Cat_11_weight     0 non-null float64
Cat_12_level_1    0 non-null float64
Cat_12_level_2    0 non-null float64
Cat_12_weight     0 non-null float64
labeled           100000 non-null bool
dtypes: bool(1), float64(36), int64(1), object(14)
memory usage: 39.0+ MB

In [11]:
df['Date'].min()

'1980-01-01 00:00:00'

In [12]:
df['Date'].max()

'2020-12-29 20:53:46'

In [23]:
df['Date'].unique()

array(['2001-05-14 23:39:00', '2001-05-04 20:51:00',
       '2000-10-18 10:00:00', ..., '1999-12-22 07:02:00',
       '1999-12-22 06:52:00', '1999-12-20 16:05:00'], dtype=object)

In [24]:
#determine howmany emails done in specic year and plot that data

In [30]:
df['Subject'].head()

0          NaN
1          Re:
2     Re: test
3          NaN
4    Re: Hello
Name: Subject, dtype: object

In [39]:
pd.isna(df['Subject']).head()

0     True
1    False
2    False
3     True
4    False
Name: Subject, dtype: bool

In [45]:
NanSubjectDF = df[pd.isna(df['Subject'])]
NanSubjectDF.shape

(5364, 52)

In [46]:
NotNanSubjectDF = df[pd.notna(df['Subject'])]
NotNanSubjectDF.shape

(94636, 52)